/*-----------------------------------------------------------------------------
addons.css                                                                  
Enthält alle zusätzlichen Klassen und Erweiterungen
----------------------------------------------------------------------------*/

.setting-header{
    color: var(--color-accent);
    font-weight: bold;
    margin-top: var(--m);
    margin-bottom: var(--xs);
    /* padding-bottom: 0; */
}